@model InvoiceGenerator.Common.Models.User.UserModel
@{
    ViewData["Title"] = "Edit User";
}

<body class="">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="register-card">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div>
                            <div>
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h3 text-gray-900">Edit Your Details</h1>
                                    </div>
                                    <hr />
                                    <form >
                                        <div class="user" ng-controller="edit" ng-init="init()">
                                            <div>
                                                <h1 class="h5 text-gray-900 text-center">Login Details </h1>
                                                <h6 class="text-center text-gray-900 mt-4">User Name: {{userName}} </h6>
                                                <div class="text-center text-gray-900">Password: <input id="password" value="{{password}}" type="password" disabled/><button style="height: 29px; padding-top: 2px;" class="btn btn-light fas fa-eye ml-2" ng-click="showPassword()"></button></div>
                                            </div>
                                            <hr class="my-4" />
                                            <div>
                                                <h1 class="h5 text-gray-900 text-center mb-4">User Details</h1>
                                                <label ng-cloak ng-show="firstNameWarn" class="warn">{{firstNameWarn}}</label>
                                                <label ng-cloak ng-show="lastNameWarn" class="warn">{{lastNameWarn}}</label>
                                                <div class="form-group row">
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <label class="text-gray-900">First Name <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control form-control-user black" id="exampleFirstName" placeholder="First Name" ng-model="firstName" ng-change="checkFirstName()" maxlength="20" required>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="text-gray-900">Last Name <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control form-control-user black" id="exampleLastName" placeholder="Last Name" ng-model="lastName" ng-change="checkLastName()" maxlength="20" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-gray-900">Company Name <span class="text-danger">*</span></label><br />
                                                    <label ng-cloak ng-show="companyNameWarn" class="warn">{{companyNameWarn}}</label>
                                                    <input class="form-control form-control-user black" placeholder="Company Name" ng-model="companyName" ng-change="checkCompanyName()" maxlength="60" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-gray-900">Email <span class="text-danger">*</span></label><br />
                                                    <label ng-cloak ng-show="emailWarn" class="warn">{{emailWarn}}</label>
                                                    <input class="form-control form-control-user black" placeholder="Email" ng-model="email" ng-change="checkEmail()" maxlength="60" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-gray-900">Contact Number <span class="text-danger">*</span></label><br />
                                                    <label ng-cloak ng-show="contactNoWarn" class="warn">{{contactNoWarn}}</label>
                                                    <input class="form-control form-control-user black" id="phone" placeholder="Contact Number" ng-model="contactNo" ng-change="checkContactNo()" maxlength="25" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-gray-900">Address <span class="text-danger">*</span></label><br />
                                                    <label ng-cloak ng-show="addressWarn" class="warn">{{addressWarn}}</label>
                                                    <input class="form-control form-control-user black" placeholder="Address" ng-model="address" ng-change="checkAddress()" maxlength="60" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-gray-900">Default VAT Percentage</label><br />
                                                    <label ng-cloak ng-show="vatWarn" class="warn">{{vatWarn}}</label>
                                                    <input class="form-control form-control-user black" placeholder="VAT (Optional)" ng-model="vat" type="number" min="0" ng-change="checkVat()" step="0.01">
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-gray-900" for="repeatSelect"> Preferred Default Currency: </label>
                                                    <select class="form-control form-control-user" name="mySelect" id="mySelect"
                                                      ng-options="option.name for option in currencies track by option.id"
                                                      ng-model="currency">{{option.code}} - {{option.name}}
                                                    </select>
                                                </div>
                                                <div ng-hide="companyLogo == null" class="mb-5">
                                                    <label class="text-gray-900 mt-3">Current Company Logo:</label><br>
                                                    <img style="height: 125px; width: 125px;" ng-src="{{companyLogo}}">
                                                </div>
                                                <div class="form-group mt-3">
                                                    <label class="text-gray-900 mt">New logo :- For best results, please upload a square shaped image. (Optional)</label>
                                                    <input class="form-control form-control-user mt-2" id="logo" type="file">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end align-items-center mt-5">
                                                <a class="btn btn-outline-dark mr-4" href='javascript:history.go(-1)'>Cancel</a>
                                                <button type="submit" href="" ng-disabled="error" class="btn confirm-edit" ng-click="confirm()"> Confirm </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts
{
    <script>
        var dashboardUrl = '@Url.Action("Index", "Home")';
    </script>
    <script src="~/js/edit-user.js" asp-append-version="true"></script>
}