@{
    ViewData["Title"] = "Register";
}

<body class="" ng-controller="register" ng-init="init()" ng-click="clickExt()">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="register-card">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div>
                            <div>
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h3 text-gray-900">Add Your Details</h1>
                                    </div>
                                    <hr />
                                    <form >
                                        <div class="user" ng-controller="register" ng-init="init()">
                                            <div>
                                                <h1 class="h5 text-gray-900 text-center">Login Details</h1>
                                                <div class="form-group col-sm-6 center">
                                                    <label ng-cloak ng-show="userNameWarn" class="warn">{{userNameWarn}}</label>
                                                    <input type="text" class="form-control form-control-user black" placeholder="Username" ng-model="userName" ng-change="checkUserName()" maxlength="20" required>
                                                </div>
                                                <div class="form-group col-sm-6 center">
                                                    <label ng-cloak ng-show="passwordWarn" class="warn">{{passwordWarn}}</label>
                                                    <input type="password" class="form-control form-control-user black" placeholder="Password" ng-model="password" ng-change="checkPassword()" maxlength="20" required>
                                                </div>
                                                <div class="form-group col-sm-6 center">
                                                    <label ng-cloak ng-show="confirmPasswordWarn" class="warn">{{confirmPasswordWarn}}</label>
                                                    <input type="password" class="form-control form-control-user black" placeholder="Confirm Password" ng-change="checkConfirmPassword()" ng-model="confirmPassword" maxlength="20" required>
                                                </div>
                                            </div>
                                            <hr class="my-4" />
                                            <div>
                                                <h1 class="h5 text-gray-900 text-center">User Details</h1>
                                                <label ng-cloak ng-show="firstNameWarn" class="warn">{{firstNameWarn}}</label>
                                                <label ng-cloak ng-show="lastNameWarn" class="warn">{{lastNameWarn}}</label>
                                                <div class="form-group row">
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <input type="text" class="form-control form-control-user black" id="exampleFirstName" placeholder="First Name" ng-model="firstName" ng-change="checkFirstName()" maxlength="20" required>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control form-control-user black" id="exampleLastName" placeholder="Last Name" ng-model="lastName" ng-change="checkLastName()" maxlength="20" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label ng-cloak ng-show="companyNameWarn" class="warn">{{companyNameWarn}}</label>
                                                    <input class="form-control form-control-user black" placeholder="Company Name" ng-model="companyName" ng-change="checkCompanyName()" maxlength="40" required>
                                                </div>
                                                <div class="form-group">
                                                    <label ng-cloak ng-show="emailWarn" class="warn">{{emailWarn}}</label>
                                                    <input class="form-control form-control-user black" placeholder="Email" ng-model="email" ng-change="checkEmail()" maxlength="45" required>
                                                </div>
                                                <div class="form-group">
                                                    <label ng-cloak ng-show="contactNoWarn" class="warn">{{contactNoWarn}}</label>
                                                    <input class="form-control form-control-user black" id="phone" placeholder="Contact Number" ng-model="contactNo" ng-change="checkContactNo()" maxlength="25" required>
                                                </div>
                                                <div class="form-group">
                                                    <label ng-cloak ng-show="addressWarn" class="warn">{{addressWarn}}</label>
                                                    <input class="form-control form-control-user black" placeholder="Address" ng-model="address" ng-change="checkAddress()" maxlength="40" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="repeatSelect"> Select Preferred Currency: </label>
                                                    <select name="mySelect" id="mySelect"
                                                      ng-options="option.name for option in currencies track by option.id"
                                                      ng-model="currency">{{option.code}} - {{option.name}}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label ng-cloak ng-show="vatWarn" class="warn">{{vatWarn}}</label>
                                                    <input class="form-control form-control-user black" placeholder="VAT % (Optional)" ng-model="vat" type="number" min="0" ng-change="checkVat()" step="0.01">
                                                </div>
                                                <div class="form-group">
                                                    <label>Company Logo - For best results, please upload a square shaped image. (Optional)</label>
                                                    <input class="form-control form-control-user" name="logo" id="logo" type="file">
                                                </div>
                                            </div>
                                            <div class="mt-4"> <button type="submit" href="" ng-disabled="error" class="btn btn-success btn-user btn-block register-button" ng-click="create()"> Create </button>  </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts
{
    <script>
        var dashboardUrl = '@Url.Action("Index", "Home")';
    </script>
    <script src="~/js/register.js" asp-append-version="true"></script>
}