@{
    ViewData["Title"] = "Help";
}

<body style="color: black;">
    <h2 class="text-center my-5">Help and About</h2>
    <hr />
    <ul class="my-5">
        <li class="mb-3">To go to home screen from any screen, click on InvoiceGenerator logo. <img src="~/help/InvoiceGenerator.png"/></li> 
        <li class="mb-3">To add an invoice, on the home screen, click on <b>Create New Invoice</b> button.</li> 
        <li class="mb-3">To search or filter through invoices by their <i>company name, invoice no, created date etc.</i> Type in the search box to update the table view.</li> 
        <li class="mb-3">To edit your user details, go to <img src="~/help/edit-user.png" class="px-1" /> and select <b>Edit User</b>. Change your details there, and click Confirm.</li>
        <li class="mb-3">To edit your invoice, on the home screen, click on the pencil icon <i class="far fa-edit px-1"></i>. Change your invoice details and click Update.</li>
        <li class="mb-3">To preview your invoice, on the home screen, click on the eye icon <i class="fas fa-eye px-1"></i>.
        <li class="mb-3">To save your invoice as pdf, on the <i>View Invoice</i> screen, click on the <b>Save As Pdf</b> button.</li>
    </ul>
    <hr />
    <div class="text-center mt-5">
        Invoice Generator - 2022<br />Created by Mohammed Hassan Butt <a href="https://www.linkedin.com/in/mohammed-hassan-161998150/"><i class="fab fa-linkedin ml-2"></i></a><br /> <br />
        To support me,<br /><a href="https://www.buymeacoffee.com/mhbsolutions" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
    </div>
</body>